.movies-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.movies-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.new-movie-button {
    height: 50px;
    width: 150px;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    display: flex;
    margin: start;
    transition: background-color 0.3s ease;
}

.new-movie-button:hover {
    background-color: #e91e63;
}

.new-movie-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}