html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ffffff;
}

body {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

#table-container {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #62444e00;
}

#table-striped {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* Borde semitransparente */
  background-color: rgba(255, 255, 255, 0.1);
  /* Fondo semitransparente */
  border-radius: 30px;
  backdrop-filter: blur(10px);
  /* Efecto de desenfoque */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  /* Sombra ligera */
}

#table-striped th,
#table-striped td {
  padding: 12px 15px;
  text-align: left;
  color: #ffffff;
}

th {
  background-color: rgba(240, 98, 146, 0.8);
}

tr:nth-child(odd) {
  background-color: rgba(74, 180, 163, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

tr:nth-child(even) {
  background-color: rgba(74, 180, 163, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

#table-centered {
  text-align: center;
  margin: auto;
}

#search-input-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

#search-input {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000000;
}

#page-container {
  display: flex;
  flex: 1;
}

#sidebar-container {
  min-height: calc(100vh - 1110px);
  position: absolute;
  top: 56px;
  z-index: 1000;
}

#content-container {
  width: 100%;
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  min-height: calc(100vh - 60px);
  box-sizing: border-box;
}

#items-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#items-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#new-item-button {
  height: 50px;
  width: 150px;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  display: flex;
  transition: background-color 0.3s ease;
}

#new-item-td button:hover {
  background-color: #e91e63;
}

#footer {
  width: 100%;
}

#navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: #ffffff;
  height: 60px;
}

#items-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#new-item-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;

}

p {
  font-weight: bold;
}

#new-item-button {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-right: 5px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(240, 98, 146, 0.8);
}

#new-item-button:hover {
  background-color: rgba(240, 98, 146, 1);
}

.table-striped th,
.table-striped td {
  padding: 12px 15px;
  text-align: left;
  color: #ffffff;
}

#general-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#general-input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Estilo general de la tabla */
#general-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* Estilo para las celdas (th y td) */
#general-table th,
#general-table td {
  padding: 12px 15px;
  text-align: left;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

/* Estilo para los encabezados */
#general-table th {
  background-color: rgba(240, 98, 146, 0.8);
}

/* Estilo para filas alternas */
#general-table tr:nth-child(odd) {
  background-color: rgba(74, 180, 163, 0.5);
}

#general-table tr:nth-child(even) {
  background-color: rgba(74, 180, 163, 0.7);
}

/* actors.css */
.item-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* Ajusta el espacio entre elementos según sea necesario */
  margin-bottom: 2rem;
  /* Espacio debajo del contenedor de acciones */
}

#new-item-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 0.5rem;

}

.new-item-button {
  background-color: #007bff;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-item-button:hover {
  background-color: #0056b3;
}



.search-input-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  /* Ajusta el margen superior si es necesario */
}

.search-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}