html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Asegura que el html y el body ocupen toda la altura */
  background-color: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.table-container {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box; /* Asegura que el padding esté incluido en el width */
  margin-bottom: 20px; /* Espacio debajo de la tabla para separar del contenido siguiente */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #62444e00;
}

.table-striped {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borde semitransparente */
  background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
  border-radius: 30px;
  backdrop-filter: blur(10px); /* Efecto de desenfoque */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra ligera */
}

.table-striped th, .table-striped td {
  padding: 12px 15px;
  text-align: left;
  color: #ffffff;
}

.table-striped th {
  background-color: rgba(240, 98, 146, 0.8); /* Fondo de encabezado más oscuro */
}

.table-striped tr:nth-child(odd) {
      background-color: rgba(74, 180, 163, 0.5); /* Fondo de fila par */
  border: 1px solid rgba(255, 255, 255, 0.5); /* Borde semitransparente */
}

.table-striped tr:nth-child(even) {
  background-color: rgba(74, 180, 163, 0.7); /* Fondo de fila par */
  border: 1px solid rgba(255, 255, 255, 0.5); /* Borde semitransparente */
}

.table-centered {
  text-align: center;
  margin: auto;
}

.search-input-container {
  position: relative;
  display: flex;
  justify-content: flex-end; /* Posiciona el input a la derecha */
  margin-bottom: 10px; /* Añade un margen para separar del contenido debajo */
}

.search-input {
  width: 200px; /* Tamaño del input */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000000;
}

.page-container {
  display: flex;
  flex: 1; /* Permite que el contenedor ocupe el espacio restante */

}

.sidebar-container {
  width: 13%; /* Ancho fijo para la barra lateral */
  min-height: calc(100vh - 1110px); /* Ajusta la altura de la barra lateral para ocupar toda la pantalla menos el navbar */
  position: absolute; /* Fija la barra lateral en su lugar */
  top: 56px; /* Alinea la barra lateral debajo del navbar */
  border-right: 1px solid #ddd; /* Borde derecho de la barra lateral (opcional) */
  z-index: 1000; /* Asegura que la barra lateral esté debajo del navbar */
}

.content-container {

  width: 100%;
  flex: 1; /* Permite que el contenido ocupe el espacio restante */
  padding-left: 20px;
  padding-right: 20px;
  min-height: calc(100vh - 60px); /* Asegura que el contenido no se superponga al footer */
  box-sizing: border-box; /* Incluye el padding en el cálculo del tamaño */
}

.actors-container {
  padding: 20px;
  display: flex;
  flex-direction: column; /* Alinea verticalmente el contenido */
}

.actors-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}



.new-actor-button {
  height: 50px;
  width: 150px; /* Ajusta el tamaño del botón */

  border-radius: 5px;

  color: #ffffff;
  border: none;
  cursor: pointer;
  display:flex;


  margin: start; /* Añade un margen para separar del contenido debajo */
  transition: background-color 0.3s ease;
}

.new-actor-td button:hover {
  background-color: #e91e63; /* Color de fondo cuando se pasa el ratón */
}

footer {
  margin-top: auto; /* Empuja el footer hacia el final del contenedor principal */
  width: 100%; /* Asegura que el footer ocupe todo el ancho */
}

.navbar {
  width: 100%; /* Asegura que el navbar ocupe todo el ancho */
  position: fixed; /* Fija el navbar en la parte superior */
  top: 0; /* Alinea el navbar en la parte superior */
  left: 0; /* Alinea el navbar a la izquierda */
  z-index: 2000; /* Asegura que el navbar esté sobre el sidebar */
  background-color: #ffffff; /* Fondo del navbar (opcional) */
  height: 60px; /* Altura del navbar (ajusta según sea necesario) */
}
.actors-actions {
  display: flex;
  justify-content: space-between; /* Distribuye espacio entre los elementos */
  align-items: center; /* Alinea verticalmente los elementos */
  padding: 10px;
}

.new-actor-button-container {
  display: flex;

  flex-direction:row;
  align-items: center; /* Alinea el contenido del botón al centro */
}
p{
font-weight:bold;
}

.new-actor-button {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 5px;

  margin-right: 5px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center; /* Asegura que el contenido del botón esté centrado verticalmente */
  justify-content: center; /* Asegura que el contenido del botón esté centrado horizontalmente */
  background-color: rgba(240, 98, 146, 0.8); /* Color de fondo del botón */
}

.new-actor-button:hover {
  background-color: rgba(240, 98, 146, 1); /* Color de fondo cuando se pasa el ratón */
}

    