html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Asegura que el html y el body ocupen toda la altura */
    background-color: #ffffff;
  }
  
  body {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }
  
  .table-container {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box; /* Asegura que el padding esté incluido en el width */
    margin-bottom: 20px; /* Espacio debajo de la tabla para separar del contenido siguiente */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
  }
  
  th {
    background-color: #62444e00;
  }
  
  .table-striped {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borde semitransparente */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    border-radius: 30px;
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra ligera */
  }
  
  .table-striped th, .table-striped td {
    padding: 12px 15px;
    text-align: left;
    color: #ffffff;
  }
  
  .table-striped th {
    background-color: rgba(240, 98, 146, 0.8);
  }
  
  .table-striped tr:nth-child(odd) {
        background-color: rgba(74, 180, 163, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .table-striped tr:nth-child(even) {
    background-color: rgba(74, 180, 163, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .table-centered {
    text-align: center;
    margin: auto;
  }
  
  .search-input-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .search-input {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000000;
  }
  
  .page-container {
    display: flex;
    flex: 1;
  
  }
  
  .sidebar-container {
  
    min-height: calc(100vh - 1110px);
    position: absolute;
    top: 56px;
  
    z-index: 1000;
  }
  
  .content-container {
    width: 100%;
    flex: 1; /* Permite que el contenido ocupe el espacio restante */
    padding-left: 20px;
    padding-right: 20px;
    min-height: calc(100vh - 60px); /* Asegura que el contenido no se superponga al footer */
    box-sizing: border-box; /* Incluye el padding en el cálculo del tamaño */
  }
  
  .distributors-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .distributors-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .new-distributor-button {
    height: 50px;
    width: 150px;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    display:flex;
    margin: start;
    transition: background-color 0.3s ease;
  }
  
  .new-distributor-td button:hover {
    background-color: #e91e63;
  }
  
  footer {

    width: 100%;
  }
  
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: #ffffff;
    height: 60px;
  }
  .distributors-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .new-distributor-button-container {
    display: flex;
  
    flex-direction:row;
    align-items: center;
  }
  p{
  font-weight:bold;
  }
  
  .new-distributor-button {
    height: 60px;
    width: 60px;
    border-radius: 100px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-right: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 98, 146, 0.8);
  }
  
  .new-distributor-button:hover {
    background-color: rgba(240, 98, 146, 1);
  }
  
      