body {
  background: linear-gradient(to bottom, #4ab4a2cd, rgba(255, 255, 255, 0.448)), url('cine-avenida_r5188.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-green-500 {
  background-color: #4AB4A3;
}

.bg-pink-500 {
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
  background-color: #D5447B;
}

.bg-pink-400 {
  background-color: #D5447B;
}

.bg-pink-600 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
  background-color: #4AB4A3;
}

.title-move-up {
  transform: translateY(-350%);
}

.inputs-move-up {
  transform: translateY(-20%);
}

.container {
  display: flex;
  transition: transform 1s ease-in-out;
}

.slide-right {
  transform: translateX(50%);
}

/* Additional styles for smooth transition and positioning */
.container {
  transition: transform 0.3s ease-in-out;
  display: flex;
  width: 100%;
}

.container.slide-right {
  transform: translateX(-50%);
}

.bg-cover {
  background-size: cover;
  background-position: center;
}
